[user]
    name  = Jan Matějka
    email = jan@matejka.ninja

[color]
    status = auto
    diff   = auto
    branch = auto

[alias]
    a          = add
    b          = branch
    bb         = branch-backup
    che        = cherry-pick

    ci         = commit
    cia        = commit --amend --no-edit

    cl         = clone
    co         = checkout
    cn         = config

    d          = diff
    dc         = diff --cached

    fpsh       = push --force-with-lease

    lgf         = log --show-signature --show-notes=* --stat --graph --color --abbrev-commit --decorate=full --pretty=fuller -50

    lg1        = lg -1
    # one line pr commit. Usefull to line count (wc -l)
    lgo        = log --oneline --decorate

    # last commits log message (useful before reset HEAD~1)
    lgm        = log  --format="%B" -1

    # log - print hash only
    # usefull for `g lgh <filtering-argv> | xargs`
    lgh        = log --pretty=format:"%H"

    lg         = lgo --graph
    lgs        = lg --stat

    # show remotes with their urls
    r          = remote -v

    # cleanup build artifacts.
    # ``git welp -x`` when updating .gitignore.
    welp       = clean -fd

    # prune no-longer valid remote refs to prevent misleading decorations
    # in git-log and tracking branches that no longer exist.
    f          = fetch -p

    s          = status

    # Generate a diffstat.
    # A list of changed file paths and numerical summary of the changes in each. The diffstat is
    # separated from commit message by a line of `---`.
    # Generate a unified diff.
    sh = show --stat -u

    # Show command for git-review https://github.com/yaccz/git-review
    show-review = show --stat -u --color=always

    t          = tag
    psh        = push
    p          = push

    # show tracking branch
    bt = "!git branch --list -vv $(git rev-parse --abbrev-ref HEAD)"

    # commit amend everything and force push. Usefull in some stupid
    # environments
    cipp = "!git commit -a -m 'wip'; git push --force-with-lease"

    # make a WIP commit
    cip = "commit -a -m wip"

    # chop n last commits from branch or just the HEAD if n not given.
    chop = "!f() { ch=1; [ $# = 1 ] && ch=$1; git reset --hard HEAD~$ch; }; f";
    ch = "!git chop"

    # chop & pull; counter-part to git-cip
    chpl = "!git chop && git pull"

    skipci = push -o ci.skip
# }}}

[push]
    default = tracking

[transfer]
    fsckObjects = true

[sendemail]
    assume8bitEncoding = true

[rebase]
    autosquash = true

[pull]
  ff = only

[init]
  defaultBranch = master
